    <footer class="site-footer clearfix">
        <section class="copyright"><a href="">{{.Site.Title}}</a> {{.Site.Copyright | safeHTML}}
            - <a href="{{.Site.Params.pictureUrl}}">Photo de la page d'accueil par {{.Site.Params.pictureAuthor}}</a>
        </section>
        {{if ne .Site.Params.hideHUGOSupport true}}
        <section class="poweredby">Généré par <a class="icon-hugo" href="http://gohugo.io">HUGO</a>, avec le thème <a class="icon-theme" href="https://github.com/vjeantet/hugo-theme-casper">Casper</a></section>
        {{end}}
    </footer>
    </div>
    <script type="text/javascript" src="{{"js/jquery.js" | relURL}}"></script>
    <script type="text/javascript" src="{{"js/jquery.fitvids.js" | relURL}}"></script>
    <script type="text/javascript" src="{{"js/index.js" | relURL}}"></script>
    {{ if .Site.Params.customFooterPartial }}
        {{ partial .Site.Params.customFooterPartial . }}
    {{ end }}
</body>
</html>
