{{ $baseurl := .Site.BaseURL }}
<article class="post {{ .Section }}">
    <header class="post-header">

        <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        {{if isset .Params "image"}}
        <div class="page-image"
            style="background-image: url({{ .Params.image }});"
        >
        </div>
        {{end}}
    </header>
    <section class="post-excerpt">
        {{if isset .Params "excerpt" }}
            {{ if .Params.excerpt }}
                <p>{{ .Params.excerpt }} </p>
                <br/>
            {{end}}
        {{else}}
            <p>{{ .Summary }}</p>
        {{end}}
        <p><a href="{{.RelPermalink}}">Lire la suite <i class="fa fa-angle-double-right"></i><a></p>
    </section>
    <footer class="post-meta">
        {{$author:= .Site.Params.author}}
        {{if .Params.author }}
            {{$author:= .Params.author}}
            {{if isset .Site.Data.authors $author}}
                {{$author := index .Site.Data.authors .Params.author }}
                {{ if isset $author "thumbnail" }}
                    <img class="author-thumb" src="{{ $author.thumbnail| relURL  }}" alt="Author image" nopin="nopin" />
                {{else if .Site.Params.logo }}
                    <img class="author-thumb" src="{{.Site.Params.logo| relURL }}" alt="Author image" nopin="nopin" />
                {{end}}
                {{ if isset $author "name" }}
                    {{$author.name}}
                {{else if .Site.Params.author}}
                    {{.Site.Params.author}}
                {{end}}
            {{else}}
                {{$author}}
            {{end}}
        {{else}}
            {{ if isset $author "thumbnail" }}
                <img class="author-thumb" src="{{ $author.thumbnail | relURL }}" alt="Author image" nopin="nopin" />
            {{else if .Site.Params.logo }}
                <img class="author-thumb" src="{{.Site.Params.logo | relURL }}" alt="Author image" nopin="nopin" />
            {{end}}
            {{ if isset $author "name" }}
                {{$author.name}}
            {{else if .Site.Params.author}}
                {{.Site.Params.author}}
            {{end}}
        {{end}}

        {{if .Params.tags }} : 
            {{ range $index, $tag := .Params.tags }}
                <a href="{{$baseurl}}tags/{{ $tag | urlize }}/">#{{ $tag }}</a>,
            {{ end }}
        {{end}}
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "2/01/2006" }}
        </time>
    </footer>
</article>
