<nav class="pagination" style="margin: auto; display:block" role="navigation">
	{{if .HasPrev}}
	    <a class="newer-posts" href="{{ .Prev.URL }}">&larr; Postes moins avancés</a>
	{{end}}
	<span class="page-number">Page {{ .PageNumber }} sur {{.TotalPages}}</span>
	{{if .HasNext}}
	    <a class="older-posts" href="{{ .Next.URL }}">Postes plus avancés &rarr;</a>
	{{end}}
</nav>
