{{ if .Site.Params.linkedinName }}
    <a class="bloglogo" href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}" target="_blank">
        <span class="incon-header icon-linkedin" style="color:white;font-size:2em;text-shadow: 0px 0px 6px #001033;"></span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.githubName }}
    <a class="bloglogo" href="https://github.com/{{ .Site.Params.githubName }}" target="_blank">
    <span class="incon-header icon-github" style="color:white;font-size:2em;text-shadow: 0px 0px 6px #001033;"></span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.flickrName }}
    <a class="bloglogo" href="https://flickr.com/{{ .Site.Params.flickrName }}" target="_blank">
    <span class="incon-header icon-flickr" style="color:white;font-size:2em;text-shadow: 0px 0px 6px #001033;"></span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.twitterName }}
    <a class="bloglogo" href="https://twitter.com/{{ .Site.Params.twitterName }}" target="_blank">
        <span class="incon-header icon-twitter" style="color:white;font-size:2em;text-shadow: 0px 0px 6px #001033;"></span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.facebookName }}
    <a class="bloglogo" href="https://www.facebook.com/{{ .Site.Params.facebookName }}" target="_blank">
        <span class="incon-header icon-facebook" style="color:white;font-size:2em;text-shadow: 0px 0px 6px #001033;"></span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.instagramName }}
    <a class="bloglogo" href="https://instagram.com/{{ .Site.Params.instagramName }}" target="_blank">
        <span class="incon-header icon-instagram" style="color:white;font-size:2em;text-shadow: 0px 0px 6px #001033;"></span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.email }}
    <a class="bloglogo" href="mailto:{{ .Site.Params.email }}" target="_blank">
        <span class="icon-mail" style="color:white;font-size:2em;text-shadow: 0px 0px 6px #001033;"></span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.pinterestName }}
    <a class="bloglogo" href="https://www.pinterest.com/{{ .Site.Params.pinterestName }}" target="_blank">
        <span class="incon-header icon-pinterest" style="color:white;font-size:2em;text-shadow: 0px 0px 6px #001033;"></span>
    </a>
&nbsp;
{{end}}

{{ if .Site.Params.googlePlusName }}
    <a class="bloglogo" href="https://google.com/+{{ .Site.Params.googlePlusName }}" target="_blank">
        <span class="incon-header icon-google-plus" style="color:white;font-size:2em;text-shadow: 0px 0px 6px #001033;"></span>
    </a>
&nbsp;
{{end}}
