<aside class="read-next">
  {{ with .Site.Pages.ByWeight.Next .Page }}
      <a class="read-next-story" style="{{ if .Params.image }}background-image: url({{ .Params.image | relURL }}){{ else }}no-cover{{ end }}" href="{{ .RelPermalink }}">
          <section class="post">
              <h2>{{.Title}}</h2>
              <!-- <p>{{ substr .Summary 0  }}</p> -->
          </section>
      </a>
  {{ end }}
  {{ with .Site.Pages.ByWeight.Prev .Page }}
      <a class="read-next-story prev" style="{{ if .Params.image }}background-image: url({{ .Params.image  | relURL}}){{ else }}no-cover{{ end }}" href="{{ .RelPermalink }}">
          <section class="post">
              <h2>{{.Title}}</h2>
          </section>
      </a>
  {{ end }}
</aside>
